In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
cartoes = pd.read_csv('ChapadaCartoes-0301-27122017.csv', delimiter=';')

In [5]:
cartoes.head()

,Empresa,Linha,Carro,Cartao,DataHoraAcesso,TipoAcesso,TipoCartao
0,TRANSNACIONAL,301,7036,1.073205e+09,2017-12-27 06:51:48.000,INT,Estudante
1,TRANSNACIONAL,301,7036,1.073252e+09,2017-12-27 10:48:10.000,DEB,Estudante
2,TRANSNACIONAL,301,7036,1.083827e+09,2017-12-27 08:31:50.000,DEB,Estudante
3,TRANSNACIONAL,301,7036,1.536371e+09,2017-12-27 05:41:40.000,INT,Comum
4,TRANSNACIONAL,301,7036,1.629893e+09,2017-12-27 06:50:38.000,DEB,Comum

In [6]:
passagens = pd.read_csv('PassagensParada-0301-27122017.csv', delimiter=';')

In [10]:
passagens.head()

,Parada,Veiculo,Rota,DataHoraAntesParada,DistanciaAntesParada,DataHoraDepoisParada,DistanciaDepoisParada,VelociadadeKmH,Unnamed: 8
0,P01 I 301,7134,301,27/12/2017 04:19:37,"1,11361837387085",27/12/2017 04:19:54,"16,5763812065125","3,74611759185791",NaN
1,P01 I 301,7085,301,27/12/2017 04:38:40,"5,51361833512783",27/12/2017 04:39:12,"3,5563817024231","1,02037501335144",NaN
2,P01 I 301,7134,301,27/12/2017 05:22:46,"0,423618316650391",27/12/2017 05:23:16,"30,9463801383972","3,76440000534058",NaN
3,P01 I 301,7085,301,27/12/2017 05:59:22,"5,36361834406853",27/12/2017 05:59:52,"30,9463801383972","4,35720014572144",NaN
4,P01 I 301,7036,301,27/12/2017 06:53:32,"4,21361827850342",27/12/2017 06:53:44,"267,086371898651","81,3899993896484",NaN