In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

RuntimeError: module compiled against API version 0xa but this version of numpy is 0x9

ImportError: numpy.core.multiarray failed to import

In [13]:
import matplotlib.pyplot as plt

RuntimeError: module compiled against API version 0xa but this version of numpy is 0x9

ImportError: numpy.core.multiarray failed to import

In [11]:
!pip install --upgrade matplotlib

Collecting matplotlib
  Downloading matplotlib-2.2.2-cp36-cp36m-manylinux1_x86_64.whl (12.6MB)
    100% |████████████████████████████████| 12.6MB 88kB/s  eta 0:00:01
Requirement already up-to-date: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/venv/lib/python3.6/site-packages (from matplotlib)
Requirement already up-to-date: pytz in /srv/venv/lib/python3.6/site-packages (from matplotlib)
Requirement already up-to-date: cycler>=0.10 in /srv/venv/lib/python3.6/site-packages (from matplotlib)
Requirement already up-to-date: six>=1.10 in /srv/venv/lib/python3.6/site-packages (from matplotlib)
Collecting numpy>=1.7.1 (from matplotlib)
  Downloading numpy-1.14.2-cp36-cp36m-manylinux1_x86_64.whl (12.2MB)
    100% |████████████████████████████████| 12.2MB 108kB/s eta 0:00:01
Requirement already up-to-date: kiwisolver>=1.0.1 in /srv/venv/lib/python3.6/site-packages (from matplotlib)
Collecting python-dateutil>=2.1 (from matplotlib)
  Downloading python_dateutil-2.7.2-py2.py3-none-any.whl (212kB)
    100% |████████████████████████████████| 215kB 5.2MB/s eta 0:00:01
Collecting setuptools (from kiwisolver>=1.0.1->matplotlib)
  Downloading setuptools-39.0.1-py2.py3-none-any.whl (569kB)
    100% |████████████████████████████████| 573kB 2.4MB/s eta 0:00:01
Installing collected packages: numpy, python-dateutil, matplotlib, setuptools
  Found existing installation: numpy 1.9.0
    Uninstalling numpy-1.9.0:
      Successfully uninstalled numpy-1.9.0
  Found existing installation: python-dateutil 2.7.0
    Uninstalling python-dateutil-2.7.0:
      Successfully uninstalled python-dateutil-2.7.0
  Found existing installation: matplotlib 2.2.0
    Uninstalling matplotlib-2.2.0:
      Successfully uninstalled matplotlib-2.2.0
  Found existing installation: setuptools 32.3.1
    Uninstalling setuptools-32.3.1:
      Successfully uninstalled setuptools-32.3.1
Successfully installed matplotlib-2.2.2 numpy-1.14.2 python-dateutil-2.7.2 setuptools-39.0.1

In [2]:
cartoes = pd.read_csv('ChapadaCartoes-0301-27122017.csv', delimiter=';')

In [49]:
cartoes['Tipo'] = cartoes.TipoCartao + "-" + cartoes.TipoAcesso
cartoes['DataHoraAcesso'] =  pd.to_datetime(cartoes['DataHoraAcesso'])

In [50]:
cartoes.head()

,Empresa,Linha,Carro,Cartao,DataHoraAcesso,TipoAcesso,TipoCartao,Tipo
0,TRANSNACIONAL,301,7036,1.073205e+09,2017-12-27 06:51:48,INT,Estudante,Estudante-INT
1,TRANSNACIONAL,301,7036,1.073252e+09,2017-12-27 10:48:10,DEB,Estudante,Estudante-DEB
2,TRANSNACIONAL,301,7036,1.083827e+09,2017-12-27 08:31:50,DEB,Estudante,Estudante-DEB
3,TRANSNACIONAL,301,7036,1.536371e+09,2017-12-27 05:41:40,INT,Comum,Comum-INT
4,TRANSNACIONAL,301,7036,1.629893e+09,2017-12-27 06:50:38,DEB,Comum,Comum-DEB

In [51]:
cartoes.dtypes

Empresa                   object
Linha                      int64
Carro                      int64
Cartao                   float64
DataHoraAcesso    datetime64[ns]
TipoAcesso                object
TipoCartao                object
Tipo                      object
dtype: object

In [36]:
cartoes.shape

(6226, 8)

In [9]:
cartoes.Carro.unique()

array([7036, 7061, 7082, 7085, 7134, 7149, 7169, 7170, 7171, 7175, 7179,
       7205])

In [24]:
cartoes.Tipo.unique()

array(['Estudante-INT', 'Estudante-DEB', 'Comum-INT', 'Comum-DEB',
       'Gratuito-DEB', 'Pagante-DEB', 'Funcionário-DEB'], dtype=object)

In [4]:
passagens = pd.read_csv('PassagensParada-0301-27122017.csv', delimiter=';')
passagens = passagens.drop('Unnamed: 8', axis=1)

In [29]:
passagens['Estudante-INT'] = 0
passagens['Estudante-DEB'] = 0
passagens['Comum-INT'] = 0
passagens['Comum-DEB'] = 0
passagens['Gratuito-DEB'] = 0
passagens['Pagante-DEB'] = 0
passagens['Funcionário-DEB'] = 0

In [33]:
passagens.head()

,Parada,Veiculo,Rota,DataHoraAntesParada,DistanciaAntesParada,DataHoraDepoisParada,DistanciaDepoisParada,VelociadadeKmH,Estudante-INT,Estudante-DEB,Comum-INT,Comum-DEB,Gratuito-DEB,Pagante-DEB,Funcionário-DEB
0,P01 I 301,7134,301,27/12/2017 04:19:37,"1,11361837387085",27/12/2017 04:19:54,"16,5763812065125","3,74611759185791",0,0,0,0,0,0,0
1,P01 I 301,7085,301,27/12/2017 04:38:40,"5,51361833512783",27/12/2017 04:39:12,"3,5563817024231","1,02037501335144",0,0,0,0,0,0,0
2,P01 I 301,7134,301,27/12/2017 05:22:46,"0,423618316650391",27/12/2017 05:23:16,"30,9463801383972","3,76440000534058",0,0,0,0,0,0,0
3,P01 I 301,7085,301,27/12/2017 05:59:22,"5,36361834406853",27/12/2017 05:59:52,"30,9463801383972","4,35720014572144",0,0,0,0,0,0,0
4,P01 I 301,7036,301,27/12/2017 06:53:32,"4,21361827850342",27/12/2017 06:53:44,"267,086371898651","81,3899993896484",0,0,0,0,0,0,0

In [54]:
passagens['DataHoraAntesParada'] =  pd.to_datetime(passagens['DataHoraAntesParada'], format='%d/%m/%Y %H:%M:%S')
passagens['DataHoraDepoisParada'] =  pd.to_datetime(passagens['DataHoraDepoisParada'], format='%d/%m/%Y %H:%M:%S')

In [97]:
passagens['DataHoraDepoisParada'] - passagens['DataHoraAntesParada']

5476   00:00:30
5567   00:00:30
5660   00:00:30
0      00:00:17
48     00:00:55
132    00:00:30
220    00:00:30
307    00:00:30
389    00:00:30
473    00:00:31
557    00:00:30
641    00:00:30
725    00:00:30
809    00:00:30
893    00:00:30
977    00:00:30
1061   00:00:30
1146   00:00:30
1232   00:00:30
1317   00:00:30
1402   00:00:30
1488   00:00:30
1574   00:00:30
1660   00:00:30
1746   00:00:30
1832   00:00:30
1917   00:00:30
5477   00:00:30
5568   00:00:30
2002   00:00:30
         ...
3784   00:00:30
3866   00:00:30
130    00:00:30
218    00:00:30
3949   00:00:30
306    00:00:30
4033   00:00:30
4115   00:00:30
4198   00:00:30
4282   00:00:30
4368   00:00:30
4454   00:00:30
4626   00:00:30
4540   00:00:30
4712   00:00:30
4798   00:00:30
4883   00:00:31
4968   00:00:30
5053   00:00:30
5138   00:00:30
5222   00:00:30
5306   00:00:30
5390   00:00:30
5566   00:00:30
5475   00:00:30
5659   00:00:30
5840   00:00:55
5755   00:00:55
131    00:00:30
219    00:00:21
Length: 5841, dtype: timedelta64[ns]

In [99]:
passagens['DataHoraMedianaParada'] = passagens['DataHoraAntesParada'] + ((passagens['DataHoraDepoisParada'] - passagens['DataHoraAntesParada'])/2)

In [100]:
passagens.dtypes

Parada                           object
Veiculo                           int64
Rota                              int64
DataHoraAntesParada      datetime64[ns]
DistanciaAntesParada             object
DataHoraDepoisParada     datetime64[ns]
DistanciaDepoisParada            object
VelociadadeKmH                   object
Estudante-INT                     int64
Estudante-DEB                     int64
Comum-INT                         int64
Comum-DEB                         int64
Gratuito-DEB                      int64
Pagante-DEB                       int64
Funcionário-DEB                   int64
DataHoraMedianaParada    datetime64[ns]
dtype: object

In [138]:
passagens[passagens.Veiculo==7061].sort_values('DataHoraAntesParada')

,Parada,Veiculo,Rota,DataHoraAntesParada,DistanciaAntesParada,DataHoraDepoisParada,DistanciaDepoisParada,VelociadadeKmH,Estudante-INT,Estudante-DEB,Comum-INT,Comum-DEB,Gratuito-DEB,Pagante-DEB,Funcionário-DEB,DataHoraMedianaParada
1069,P15 I 301,7061,301,2017-12-27 06:54:45,"146,381591796875",2017-12-27 06:55:40,"348,728515625","32,4071998596191",0,0,0,0,0,0,0,2017-12-27 06:55:12.500
1155,P16 I 301,7061,301,2017-12-27 06:55:40,"3,238037109375",2017-12-27 06:56:10,"68,02197265625","8,5511999130249",0,0,0,0,0,0,0,2017-12-27 06:55:55.000
1241,P17 I 301,7061,301,2017-12-27 06:56:33,"363,68115234375",2017-12-27 06:57:28,"113,7587890625","31,250617980957",0,0,0,0,0,0,0,2017-12-27 06:57:00.500
1326,P18 I 301,7061,301,2017-12-27 06:57:58,"4,78759765625",2017-12-27 06:58:28,"280,8623046875","34,2779998779297",0,0,0,0,0,0,0,2017-12-27 06:58:13.000
1411,P19 I 301,7061,301,2017-12-27 06:58:28,"117,5048828125",2017-12-27 06:58:58,"87,17529296875","24,5615997314453",0,0,0,0,0,0,0,2017-12-27 06:58:43.000
1497,P20 I 301,7061,301,2017-12-27 06:59:28,"123,71875",2017-12-27 06:59:58,"165,111328125","34,6595993041992",0,0,0,0,0,0,0,2017-12-27 06:59:43.000
1583,P21 I 301,7061,301,2017-12-27 06:59:58,"154,537109375",2017-12-27 07:00:28,"219,123046875","44,8391990661621",0,0,0,0,0,0,0,2017-12-27 07:00:13.000
1669,P22 I 301,7061,301,2017-12-27 07:00:28,"288,109375",2017-12-27 07:00:59,"16,0107421875","35,3171615600586",0,0,0,0,0,0,0,2017-12-27 07:00:43.500
1755,P23 I 301,7061,301,2017-12-27 07:01:29,"161,587890625",2017-12-27 07:01:59,"73,98193359375","28,2684001922607",0,0,0,0,0,0,0,2017-12-27 07:01:44.000
1841,P24 I 301,7061,301,2017-12-27 07:01:59,"25,35888671875",2017-12-27 07:02:29,"256,5810546875","33,8328018188477",0,0,0,0,0,0,0,2017-12-27 07:02:14.000
1926,P25 I 301,7061,301,2017-12-27 07:02:59,"86,12353515625",2017-12-27 07:03:29,"357,39599609375","53,2224006652832",0,0,0,0,0,0,0,2017-12-27 07:03:14.000
2011,P26 I 301,7061,301,2017-12-27 07:03:29,"305,779296875",2017-12-27 07:03:59,"105,0107421875","49,2947998046875",0,0,0,0,0,0,0,2017-12-27 07:03:44.000
2181,P28 I 301,7061,301,2017-12-27 07:04:29,"263,447265625",2017-12-27 07:04:59,"29,3427734375","35,1347999572754",0,0,0,0,0,0,0,2017-12-27 07:04:44.000
2097,P27 I 301,7061,301,2017-12-27 07:04:29,"65,7158203125",2017-12-27 07:04:59,"227,07421875","35,1347999572754",0,0,0,0,0,0,0,2017-12-27 07:04:44.000
2266,P29 I 301,7061,301,2017-12-27 07:04:59,"288,04296875",2017-12-27 07:05:29,"117,4765625","48,6623992919922",0,0,0,0,0,0,0,2017-12-27 07:05:14.000
2437,P30 I 301*,7061,301,2017-12-27 07:05:29,"106,52734375",2017-12-27 07:05:59,"135,4326171875","29,0352001190186",0,0,0,0,0,0,0,2017-12-27 07:05:44.000
2351,P30 I 301,7061,301,2017-12-27 07:06:36,"50,544921875",2017-12-27 07:07:19,"86,0048828125","11,432092666626",0,0,0,0,0,0,0,2017-12-27 07:06:57.500
2522,P31 I 301,7061,301,2017-12-27 07:07:19,"137,5595703125",2017-12-27 07:07:41,"2,3203125","22,8894538879395",0,0,0,0,0,0,0,2017-12-27 07:07:30.000
2694,P33 I 301,7061,301,2017-12-27 07:08:04,"427,7275390625",2017-12-27 07:08:59,"2,2021484375","28,1408729553223",0,0,0,0,0,0,0,2017-12-27 07:08:31.500
2608,P32 I 301,7061,301,2017-12-27 07:08:04,"170,177734375",2017-12-27 07:08:59,"259,751953125","28,1408729553223",0,0,0,0,0,0,0,2017-12-27 07:08:31.500
2780,P34 I 301,7061,301,2017-12-27 07:11:05,"29,0634765625",2017-12-27 07:11:16,"122,06640625","49,4607276916504",0,0,0,0,0,0,0,2017-12-27 07:11:10.500
2866,P35 I 301,7061,301,2017-12-27 07:12:49,"34,2490234375",2017-12-27 07:13:19,"160,2412109375","23,3388004302979",0,0,0,0,0,0,0,2017-12-27 07:13:04.000
3035,P36 I 301*,7061,301,2017-12-27 07:13:19,"27,267578125",2017-12-27 07:13:49,"272,962890625","36,0275993347168",0,0,0,0,0,0,0,2017-12-27 07:13:34.000
2949,P36 I 301,7061,301,2017-12-27 07:14:07,"24,001953125",2017-12-27 07:14:41,"1,697265625","2,72117638587952",0,0,0,0,0,0,0,2017-12-27 07:14:24.000
3119,P37 I 301,7061,301,2017-12-27 07:15:36,"49,904296875",2017-12-27 07:16:04,"14,6259765625","8,29671382904053",0,0,0,0,0,0,0,2017-12-27 07:15:50.000
3205,P38 V 301,7061,301,2017-12-27 07:19:25,"7,5146484375",2017-12-27 07:19:59,"59,35546875","7,08035278320313",0,0,0,0,0,0,0,2017-12-27 07:19:42.000
3291,P39 V 301,7061,301,2017-12-27 07:21:59,"3,6064453125",2017-12-27 07:22:29,"219,7138671875","26,7984008789063",0,0,0,0,0,0,0,2017-12-27 07:22:14.000
3377,P40 V 301,7061,301,2017-12-27 07:22:29,"168,9072265625",2017-12-27 07:22:59,"5,2822265625","20,9027996063232",0,0,0,0,0,0,0,2017-12-27 07:22:44.000
3463,P41 V 301,7061,301,2017-12-27 07:24:52,"92,86328125",2017-12-27 07:25:47,"411,40625","33,006763458252",0,0,0,0,0,0,0,2017-12-27 07:25:19.500
3549,P42 V 301,7061,301,2017-12-27 07:24:52,"395,6171875",2017-12-27 07:25:47,"108,65234375","33,006763458252",0,0,0,0,0,0,0,2017-12-27 07:25:19.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3191,P37 I 301,7061,301,2017-12-27 21:55:04,"337,82421875",2017-12-27 21:55:59,"15,49609375","23,1263999938965",0,0,0,0,0,0,0,2017-12-27 21:55:31.500
3277,P38 V 301,7061,301,2017-12-27 21:58:58,"91,2939453125",2017-12-27 21:59:30,"462,49609375","62,3013763427734",0,0,0,0,0,0,0,2017-12-27 21:59:14.000
3363,P39 V 301,7061,301,2017-12-27 22:00:51,"299,5166015625",2017-12-27 22:01:37,"4,9638671875","23,8288688659668",0,0,0,0,0,0,0,2017-12-27 22:01:14.000
3449,P40 V 301,7061,301,2017-12-27 22:02:00,"383,607421875",2017-12-27 22:02:55,"258,8720703125","42,0532379150391",0,0,0,0,0,0,0,2017-12-27 22:02:27.500
3535,P41 V 301,7061,301,2017-12-27 22:03:25,"92,9033203125",2017-12-27 22:03:34,"3,056640625","38,3839988708496",0,0,0,0,0,0,0,2017-12-27 22:03:29.500
3621,P42 V 301,7061,301,2017-12-27 22:04:29,"120,1669921875",2017-12-27 22:04:59,"267,802734375","46,5564002990723",0,0,0,0,0,0,0,2017-12-27 22:04:44.000
3700,P43 V 301,7061,301,2017-12-27 22:04:59,"23,78125",2017-12-27 22:05:29,"51,158203125","8,99279975891113",0,0,0,0,0,0,0,2017-12-27 22:05:14.000
3779,P44 V 301,7061,301,2017-12-27 22:05:35,"114,75",2017-12-27 22:06:30,"385,25","32,7272720336914",0,0,0,0,0,0,0,2017-12-27 22:06:02.500
3861,P45 V 301,7061,301,2017-12-27 22:06:36,"207,10546875",2017-12-27 22:07:00,"15,345703125","33,3675003051758",0,0,0,0,0,0,0,2017-12-27 22:06:48.000
3944,P46 V 301,7061,301,2017-12-27 22:07:30,"178,1015625",2017-12-27 22:08:00,"331,419921875","61,1423988342285",0,0,0,0,0,0,0,2017-12-27 22:07:45.000
4193,P49 V 301,7061,301,2017-12-27 22:09:39,"68,98046875",2017-12-27 22:09:48,"83,849609375","61,1319999694824",0,0,0,0,0,0,0,2017-12-27 22:09:43.500
4277,P50 V 301,7061,301,2017-12-27 22:09:48,"259,482421875",2017-12-27 22:10:43,"228,4375","31,9365825653076",0,0,0,0,0,0,0,2017-12-27 22:10:15.500
4363,P51 V 301,7061,301,2017-12-27 22:10:43,"346,15234375",2017-12-27 22:11:13,"44,70703125","46,9031982421875",0,0,0,0,0,0,0,2017-12-27 22:10:58.000
4449,P52 V 301,7061,301,2017-12-27 22:11:13,"247,65625",2017-12-27 22:11:43,"151,36328125","47,8824005126953",0,0,0,0,0,0,0,2017-12-27 22:11:28.000
4535,P53 V 301,7061,301,2017-12-27 22:12:36,"124,3046875",2017-12-27 22:13:31,"1,583984375","8,24007320404053",0,0,0,0,0,0,0,2017-12-27 22:13:03.500
4707,P55 V 301,7061,301,2017-12-27 22:13:50,"405,55078125",2017-12-27 22:14:45,"102,548828125","33,257453918457",0,0,0,0,0,0,0,2017-12-27 22:14:17.500
4621,P54 V 301,7061,301,2017-12-27 22:13:50,"95,005859375",2017-12-27 22:14:45,"413,09375","33,257453918457",0,0,0,0,0,0,0,2017-12-27 22:14:17.500
4793,P56 V 301,7061,301,2017-12-27 22:14:45,"321,845703125",2017-12-27 22:15:15,"4,734375","39,1896018981934",0,0,0,0,0,0,0,2017-12-27 22:15:00.000
4878,P57 V 301,7061,301,2017-12-27 22:15:34,"29,78515625",2017-12-27 22:16:09,"105,814453125","13,9474287033081",0,0,0,0,0,0,0,2017-12-27 22:15:51.500
4963,P58 V 301,7061,301,2017-12-27 22:16:09,"159,947265625",2017-12-27 22:17:04,"333,083984375","32,271053314209",0,0,0,0,0,0,0,2017-12-27 22:16:36.500
5048,P59 V 301,7061,301,2017-12-27 22:17:04,"18,203125",2017-12-27 22:17:35,"185,3359375","23,6369037628174",0,0,0,0,0,0,0,2017-12-27 22:17:19.500
5133,P60 V 301,7061,301,2017-12-27 22:18:05,"0,95703125",2017-12-27 22:18:35,"386,54296875","46,5",0,0,0,0,0,0,0,2017-12-27 22:18:20.000
5217,P61 V 301,7061,301,2017-12-27 22:18:05,"296,564453125",2017-12-27 22:18:35,"90,935546875","46,5",0,0,0,0,0,0,0,2017-12-27 22:18:20.000
5301,P62 V 301,7061,301,2017-12-27 22:18:35,"134,447265625",2017-12-27 22:19:05,"143,892578125","33,4007987976074",0,0,0,0,0,0,0,2017-12-27 22:18:50.000
5385,P63 V 301,7061,301,2017-12-27 22:19:05,"86,638671875",2017-12-27 22:19:35,"12,87109375","11,9412002563477",0,0,0,0,0,0,0,2017-12-27 22:19:20.000
5470,P64 V 301,7061,301,2017-12-27 22:20:35,"7,330078125",2017-12-27 22:21:05,"243,830078125","30,1392002105713",0,0,0,0,0,0,0,2017-12-27 22:20:50.000
5561,P65 V 301,7061,301,2017-12-27 22:21:05,"21,44140625",2017-12-27 22:21:35,"284,30859375","36,689998626709",0,0,0,0,0,0,0,2017-12-27 22:21:20.000
5654,P66 V 301,7061,301,2017-12-27 22:21:35,"84,392578125",2017-12-27 22:22:05,"65,31640625","17,9652004241943",0,0,0,0,0,0,0,2017-12-27 22:21:50.000
5750,P67 V 301,7061,301,2017-12-27 22:23:28,"133,447265625",2017-12-27 22:24:23,"155,3125","18,9006538391113",0,0,0,0,0,0,0,2017-12-27 22:23:55.500
5835,P68 V 301,7061,301,2017-12-27 22:24:53,"70,734375",2017-12-27 22:25:23,"165,115234375","28,3020000457764",0,0,0,0,0,0,0,2017-12-27 22:25:08.000

,Parada,Veiculo,Rota,DataHoraAntesParada,DistanciaAntesParada,DataHoraDepoisParada,DistanciaDepoisParada,VelociadadeKmH,Estudante-INT,Estudante-DEB,Comum-INT,Comum-DEB,Gratuito-DEB,Pagante-DEB,Funcionário-DEB,DataHoraMedianaParada
5673,P67 V 301,7149,301,2017-12-27 07:21:30,"137,46875",2017-12-27 07:22:25,"277,591796875","27,1675643920898",0,0,0,0,0,0,0,2017-12-27 07:21:57.500
5685,P67 V 301,7149,301,2017-12-27 09:26:11,"127,66796875",2017-12-27 09:27:06,"277,611328125","26,5274181365967",0,0,0,0,0,0,0,2017-12-27 09:26:38.500
5699,P67 V 301,7149,301,2017-12-27 11:40:16,"165,298828125",2017-12-27 11:40:22,"143,181640625","185,087997436523",0,0,0,0,0,0,0,2017-12-27 11:40:19.000
5710,P67 V 301,7149,301,2017-12-27 13:35:25,"129,66796875",2017-12-27 13:36:20,"277,611328125","26,6583271026611",0,0,0,0,0,0,0,2017-12-27 13:35:52.500

In [60]:
cartoes = cartoes.sort_values('DataHoraAcesso')

In [115]:
cartoes_new = pd.DataFrame()
for carro in cartoes.Carro.unique():
    cartoes_new = pd.concat([cartoes_new, pd.merge_asof(cartoes[cartoes.Carro==carro], passagens[passagens.Veiculo==carro][['Parada', 'DataHoraAntesParada', 'DataHoraDepoisParada', 'DataHoraMedianaParada']], right_on='DataHoraMedianaParada', left_on='DataHoraAcesso')])

In [116]:
cartoes_new[cartoes_new.DataHoraAntesParada>cartoes_new.DataHoraAcesso].shape

(0, 12)

In [135]:
cartoes[cartoes.Carro==7170]

,Empresa,Linha,Carro,Cartao,DataHoraAcesso,TipoAcesso,TipoCartao,Tipo
3305,TRANSNACIONAL,301,7170,3.399829e+09,2017-12-27 06:41:34,DEB,Funcionário,Funcionário-DEB
4619,TRANSNACIONAL,301,7170,NaN,2017-12-27 07:01:02,DEB,Pagante,Pagante-DEB
2565,TRANSNACIONAL,301,7170,1.569162e+09,2017-12-27 07:01:06,INT,Comum,Comum-INT
5764,TRANSNACIONAL,301,7170,9.156818e+08,2017-12-27 07:01:12,INT,Comum,Comum-INT
4284,TRANSNACIONAL,301,7170,6.315588e+08,2017-12-27 07:01:20,INT,Comum,Comum-INT
2198,TRANSNACIONAL,301,7170,1.950713e+09,2017-12-27 07:01:36,INT,Estudante,Estudante-INT
2575,TRANSNACIONAL,301,7170,9.267653e+08,2017-12-27 07:01:40,DEB,Comum,Comum-DEB
2576,TRANSNACIONAL,301,7170,NaN,2017-12-27 07:01:44,DEB,Pagante,Pagante-DEB
2413,TRANSNACIONAL,301,7170,1.672324e+09,2017-12-27 07:02:04,DEB,Estudante,Estudante-DEB
3214,TRANSNACIONAL,301,7170,2.793680e+09,2017-12-27 07:02:10,DEB,Comum,Comum-DEB
4210,TRANSNACIONAL,301,7170,9.379669e+08,2017-12-27 07:02:28,DEB,Estudante,Estudante-DEB
4207,TRANSNACIONAL,301,7170,6.574981e+08,2017-12-27 07:02:34,DEB,Comum,Comum-DEB
4283,TRANSNACIONAL,301,7170,5.143148e+08,2017-12-27 07:02:38,DEB,Comum,Comum-DEB
2574,TRANSNACIONAL,301,7170,9.194672e+08,2017-12-27 07:02:40,DEB,Comum,Comum-DEB
2205,TRANSNACIONAL,301,7170,6.365603e+08,2017-12-27 07:02:52,DEB,Comum,Comum-DEB
3649,TRANSNACIONAL,301,7170,2.406076e+08,2017-12-27 07:02:56,DEB,Comum,Comum-DEB
3541,TRANSNACIONAL,301,7170,NaN,2017-12-27 07:03:00,DEB,Pagante,Pagante-DEB
3534,TRANSNACIONAL,301,7170,1.923798e+09,2017-12-27 07:03:08,DEB,Estudante,Estudante-DEB
2670,TRANSNACIONAL,301,7170,1.083700e+09,2017-12-27 07:03:16,DEB,Estudante,Estudante-DEB
3931,TRANSNACIONAL,301,7170,7.050764e+08,2017-12-27 07:03:20,DEB,Comum,Comum-DEB
4525,TRANSNACIONAL,301,7170,NaN,2017-12-27 07:03:24,DEB,Pagante,Pagante-DEB
3932,TRANSNACIONAL,301,7170,NaN,2017-12-27 07:03:30,DEB,Pagante,Pagante-DEB
2573,TRANSNACIONAL,301,7170,6.548433e+08,2017-12-27 07:03:50,INT,Estudante,Estudante-INT
5137,TRANSNACIONAL,301,7170,9.266450e+08,2017-12-27 07:03:54,DEB,Comum,Comum-DEB
5763,TRANSNACIONAL,301,7170,6.635300e+08,2017-12-27 07:04:00,INT,Estudante,Estudante-INT
2304,TRANSNACIONAL,301,7170,1.760620e+09,2017-12-27 07:04:20,DEB,Estudante,Estudante-DEB
4008,TRANSNACIONAL,301,7170,NaN,2017-12-27 07:04:26,DEB,Pagante,Pagante-DEB
2195,TRANSNACIONAL,301,7170,1.080651e+09,2017-12-27 07:04:30,DEB,Comum,Comum-DEB
3755,TRANSNACIONAL,301,7170,NaN,2017-12-27 07:04:34,DEB,Pagante,Pagante-DEB
3999,TRANSNACIONAL,301,7170,1.514334e+09,2017-12-27 07:04:38,DEB,Comum,Comum-DEB
...,...,...,...,...,...,...,...,...
2674,TRANSNACIONAL,301,7170,5.198819e+08,2017-12-27 13:51:36,DEB,Comum,Comum-DEB
2204,TRANSNACIONAL,301,7170,6.241924e+08,2017-12-27 13:53:08,DEB,Comum,Comum-DEB
2489,TRANSNACIONAL,301,7170,3.156065e+09,2017-12-27 13:53:12,INT,Comum,Comum-INT
2583,TRANSNACIONAL,301,7170,NaN,2017-12-27 13:53:18,DEB,Pagante,Pagante-DEB
4627,TRANSNACIONAL,301,7170,NaN,2017-12-27 13:53:34,DEB,Pagante,Pagante-DEB
3927,TRANSNACIONAL,301,7170,4.081137e+08,2017-12-27 13:53:54,DEB,Comum,Comum-DEB
6035,TRANSNACIONAL,301,7170,NaN,2017-12-27 13:54:50,DEB,Pagante,Pagante-DEB
3998,TRANSNACIONAL,301,7170,1.223414e+09,2017-12-27 13:54:56,DEB,Comum,Comum-DEB
6138,TRANSNACIONAL,301,7170,NaN,2017-12-27 13:55:00,DEB,Pagante,Pagante-DEB
5759,TRANSNACIONAL,301,7170,3.237310e+09,2017-12-27 13:58:46,DEB,Estudante,Estudante-DEB
3655,TRANSNACIONAL,301,7170,3.716330e+09,2017-12-27 13:59:28,DEB,Comum,Comum-DEB
3922,TRANSNACIONAL,301,7170,1.498247e+09,2017-12-27 14:01:44,DEB,Gratuito,Gratuito-DEB
3398,TRANSNACIONAL,301,7170,3.661227e+09,2017-12-27 14:02:24,DEB,Comum,Comum-DEB
3217,TRANSNACIONAL,301,7170,3.136862e+09,2017-12-27 14:02:30,DEB,Comum,Comum-DEB
3461,TRANSNACIONAL,301,7170,3.943038e+09,2017-12-27 14:02:34,DEB,Comum,Comum-DEB
4427,TRANSNACIONAL,301,7170,1.760649e+09,2017-12-27 14:02:44,DEB,Estudante,Estudante-DEB
2850,TRANSNACIONAL,301,7170,2.056859e+09,2017-12-27 14:03:24,DEB,Estudante,Estudante-DEB
3462,TRANSNACIONAL,301,7170,6.553441e+08,2017-12-27 14:06:14,DEB,Estudante,Estudante-DEB
5834,TRANSNACIONAL,301,7170,NaN,2017-12-27 14:06:46,DEB,Pagante,Pagante-DEB
2492,TRANSNACIONAL,301,7170,3.554425e+09,2017-12-27 14:06:56,INT,Comum,Comum-INT
2584,TRANSNACIONAL,301,7170,NaN,2017-12-27 14:07:32,DEB,Pagante,Pagante-DEB
3113,TRANSNACIONAL,301,7170,4.262049e+09,2017-12-27 14:08:22,DEB,Funcionário,Funcionário-DEB
3533,TRANSNACIONAL,301,7170,1.201767e+09,2017-12-27 14:09:52,INT,Comum,Comum-INT
2199,TRANSNACIONAL,301,7170,2.368293e+09,2017-12-27 14:11:24,INT,Comum,Comum-INT
3299,TRANSNACIONAL,301,7170,1.569873e+09,2017-12-27 14:11:34,INT,Comum,Comum-INT
3751,TRANSNACIONAL,301,7170,3.389713e+09,2017-12-27 14:11:54,DEB,Funcionário,Funcionário-DEB
4203,TRANSNACIONAL,301,7170,3.384942e+09,2017-12-27 14:13:06,DEB,Funcionário,Funcionário-DEB
4432,TRANSNACIONAL,301,7170,3.384994e+09,2017-12-27 14:15:28,DEB,Funcionário,Funcionário-DEB
3750,TRANSNACIONAL,301,7170,3.389612e+09,2017-12-27 14:17:08,DEB,Funcionário,Funcionário-DEB
2202,TRANSNACIONAL,301,7170,3.384966e+09,2017-12-27 14:18:08,DEB,Funcionário,Funcionário-DEB

In [122]:
passagens.sort_values('DataHoraAntesParada')[(passagens.DataHoraAntesParada>'2017-12-27 05:00:00') & (passagens.Veiculo==7134)]

/home/ycaro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Parada,Veiculo,Rota,DataHoraAntesParada,DistanciaAntesParada,DataHoraDepoisParada,DistanciaDepoisParada,VelociadadeKmH,Estudante-INT,Estudante-DEB,Comum-INT,Comum-DEB,Gratuito-DEB,Pagante-DEB,Funcionário-DEB,DataHoraMedianaParada
5662,P67 V 301,7134,301,2017-12-27 05:00:03,"141,978515625",2017-12-27 05:00:58,"186,052734375","21,4710540771484",0,0,0,0,0,0,0,2017-12-27 05:00:30.500
2,P01 I 301,7134,301,2017-12-27 05:22:46,"0,423618316650391",2017-12-27 05:23:16,"30,9463801383972","3,76440000534058",0,0,0,0,0,0,0,2017-12-27 05:23:01.000
50,P03 I 301,7134,301,2017-12-27 05:23:25,"174,906562805176",2017-12-27 05:24:20,"103,153442382813","18,2002906799316",0,0,0,0,0,0,0,2017-12-27 05:23:52.500
134,P04 I 301,7134,301,2017-12-27 05:24:50,"15,1245727539063",2017-12-27 05:25:20,"285,425415039063","36,0660018920898",0,0,0,0,0,0,0,2017-12-27 05:25:05.000
222,P05 I 301,7134,301,2017-12-27 05:25:20,"71,719970703125",2017-12-27 05:25:50,"44,7200317382813","13,9728002548218",0,0,0,0,0,0,0,2017-12-27 05:25:35.000
309,P06 I 301,7134,301,2017-12-27 05:26:21,"159,40185546875",2017-12-27 05:26:29,"171,218139648438","148,779006958008",0,0,0,0,0,0,0,2017-12-27 05:26:25.000
391,P07 I 301,7134,301,2017-12-27 05:27:07,"16,7655029296875",2017-12-27 05:27:31,"186,304565429688","30,4605007171631",0,0,0,0,0,0,0,2017-12-27 05:27:19.000
559,P09 I 301,7134,301,2017-12-27 05:27:31,"309,39990234375",2017-12-27 05:28:26,"229,380126953125","35,2655982971191",0,0,0,0,0,0,0,2017-12-27 05:27:58.500
475,P08 I 301,7134,301,2017-12-27 05:27:31,96,2017-12-27 05:28:26,"442,780029296875","35,2655982971191",0,0,0,0,0,0,0,2017-12-27 05:27:58.500
643,P10 I 301,7134,301,2017-12-27 05:29:16,"2,120361328125",2017-12-27 05:30:11,"367,61962890625","24,2011642456055",0,0,0,0,0,0,0,2017-12-27 05:29:43.500
727,P11 I 301,7134,301,2017-12-27 05:29:16,"285,7158203125",2017-12-27 05:30:11,"84,024169921875","24,2011642456055",0,0,0,0,0,0,0,2017-12-27 05:29:43.500
811,P12 I 301,7134,301,2017-12-27 05:30:11,"229,096923828125",2017-12-27 05:30:41,"0,8330078125","27,5916004180908",0,0,0,0,0,0,0,2017-12-27 05:30:26.000
895,P13 I 301,7134,301,2017-12-27 05:31:11,"59,70556640625",2017-12-27 05:31:41,"108,634521484375","20,2007999420166",0,0,0,0,0,0,0,2017-12-27 05:31:26.000
979,P14 I 301,7134,301,2017-12-27 05:31:41,"122,2744140625",2017-12-27 05:32:11,"175,925537109375","35,7840003967285",0,0,0,0,0,0,0,2017-12-27 05:31:56.000
1063,P15 I 301,7134,301,2017-12-27 05:32:11,"134,421630859375",2017-12-27 05:32:41,"67,3583984375","24,2136001586914",0,0,0,0,0,0,0,2017-12-27 05:32:26.000
1148,P16 I 301,7134,301,2017-12-27 05:32:41,"284,608154296875",2017-12-27 05:33:13,"78,73193359375","40,8757514953613",0,0,0,0,0,0,0,2017-12-27 05:32:57.000
1234,P17 I 301,7134,301,2017-12-27 05:33:43,"281,22119140625",2017-12-27 05:34:13,"184,32861328125","55,8660011291504",0,0,0,0,0,0,0,2017-12-27 05:33:58.000
1319,P18 I 301,7134,301,2017-12-27 05:34:43,"13,49755859375",2017-12-27 05:35:13,"82,26220703125","11,4912004470825",0,0,0,0,0,0,0,2017-12-27 05:34:58.000
1404,P19 I 301,7134,301,2017-12-27 05:35:43,"6,90478515625",2017-12-27 05:36:13,"228,05517578125","28,1951999664307",0,0,0,0,0,0,0,2017-12-27 05:35:58.000
1490,P20 I 301,7134,301,2017-12-27 05:36:13,"247,4384765625",2017-12-27 05:36:43,"256,1513671875","60,4308013916016",0,0,0,0,0,0,0,2017-12-27 05:36:28.000
1576,P21 I 301,7134,301,2017-12-27 05:36:43,"63,4970703125",2017-12-27 05:37:13,"309,23291015625","44,7276000976563",0,0,0,0,0,0,0,2017-12-27 05:36:58.000
1662,P22 I 301,7134,301,2017-12-27 05:37:13,"197,99951171875",2017-12-27 05:37:43,"115,12060546875","37,5744018554688",0,0,0,0,0,0,0,2017-12-27 05:37:28.000
1748,P23 I 301,7134,301,2017-12-27 05:38:13,"14,8681640625",2017-12-27 05:38:44,"238,181640625","29,3864517211914",0,0,0,0,0,0,0,2017-12-27 05:38:28.500
1834,P24 I 301,7134,301,2017-12-27 05:38:13,"114,208984375",2017-12-27 05:38:44,"138,8408203125","29,3864517211914",0,0,0,0,0,0,0,2017-12-27 05:38:28.500
1919,P25 I 301,7134,301,2017-12-27 05:39:14,"151,68359375",2017-12-27 05:39:44,"346,77685546875","59,8152008056641",0,0,0,0,0,0,0,2017-12-27 05:39:29.000
2004,P26 I 301,7134,301,2017-12-27 05:40:14,"51,6689453125",2017-12-27 05:40:44,"251,1708984375","36,3408012390137",0,0,0,0,0,0,0,2017-12-27 05:40:29.000
2090,P27 I 301,7134,301,2017-12-27 05:40:44,"89,666015625",2017-12-27 05:41:14,"104,64453125","23,3171997070313",0,0,0,0,0,0,0,2017-12-27 05:40:59.000
2175,P28 I 301,7134,301,2017-12-27 05:41:14,"93,0869140625",2017-12-27 05:41:44,"29,322265625","14,6892004013062",0,0,0,0,0,0,0,2017-12-27 05:41:29.000
2260,P29 I 301,7134,301,2017-12-27 05:41:44,"288,0634765625",2017-12-27 05:42:14,"117,45703125","48,6623992919922",0,0,0,0,0,0,0,2017-12-27 05:41:59.000
2431,P30 I 301*,7134,301,2017-12-27 05:42:14,"106,546875",2017-12-27 05:42:44,"117,623046875","26,9004001617432",0,0,0,0,0,0,0,2017-12-27 05:42:29.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3691,P43 V 301,7134,301,2017-12-27 19:11:30,"77,291015625",2017-12-27 19:12:16,"550,708984375","49,1478271484375",0,0,0,0,0,0,0,2017-12-27 19:11:53.000
3770,P44 V 301,7134,301,2017-12-27 19:11:30,"309,2890625",2017-12-27 19:12:16,"318,7109375","49,1478271484375",0,0,0,0,0,0,0,2017-12-27 19:11:53.000
3851,P45 V 301,7134,301,2017-12-27 19:12:25,"172,07421875",2017-12-27 19:12:56,"274,845703125","51,9003868103027",0,0,0,0,0,0,0,2017-12-27 19:12:40.500
3935,P46 V 301,7134,301,2017-12-27 19:13:19,"40,921875",2017-12-27 19:13:51,"480,828125","58,6968765258789",0,0,0,0,0,0,0,2017-12-27 19:13:35.000
4019,P47 V 301,7134,301,2017-12-27 19:14:21,"165,072265625",2017-12-27 19:14:51,"262,4375","51,3012008666992",0,0,0,0,0,0,0,2017-12-27 19:14:36.000
4102,P48 V 301,7134,301,2017-12-27 19:14:51,"102,8984375",2017-12-27 19:15:21,"372,3515625","57,0299987792969",0,0,0,0,0,0,0,2017-12-27 19:15:06.000
4184,P49 V 301,7134,301,2017-12-27 19:15:21,"73,53125",2017-12-27 19:15:51,"286,658203125","43,2228012084961",0,0,0,0,0,0,0,2017-12-27 19:15:36.000
4268,P50 V 301,7134,301,2017-12-27 19:15:51,"56,673828125",2017-12-27 19:16:21,"17,52734375","8,9040002822876",0,0,0,0,0,0,0,2017-12-27 19:16:06.000
4353,P51 V 301,7134,301,2017-12-27 19:17:51,"9,93359375",2017-12-27 19:18:21,"169,486328125","21,5303993225098",0,0,0,0,0,0,0,2017-12-27 19:18:06.000
4439,P52 V 301,7134,301,2017-12-27 19:18:21,"122,876953125",2017-12-27 19:18:51,"5,724609375","15,4320001602173",0,0,0,0,0,0,0,2017-12-27 19:18:36.000
4525,P53 V 301,7134,301,2017-12-27 19:19:53,"148,85546875",2017-12-27 19:20:23,"58,78515625","24,9167995452881",0,0,0,0,0,0,0,2017-12-27 19:20:08.000
4611,P54 V 301,7134,301,2017-12-27 19:21:05,"95,03515625",2017-12-27 19:22:00,"214,18359375","20,2398548126221",0,0,0,0,0,0,0,2017-12-27 19:21:32.500
4697,P55 V 301,7134,301,2017-12-27 19:22:00,"96,361328125",2017-12-27 19:22:30,"102,6484375","23,8812007904053",0,0,0,0,0,0,0,2017-12-27 19:22:15.000
4783,P56 V 301,7134,301,2017-12-27 19:23:00,"5,46484375",2017-12-27 19:23:30,"183,224609375","22,6427993774414",0,0,0,0,0,0,0,2017-12-27 19:23:15.000
4868,P57 V 301,7134,301,2017-12-27 19:23:30,"1,044921875",2017-12-27 19:24:00,"105,775390625","12,8184003829956",0,0,0,0,0,0,0,2017-12-27 19:23:45.000
4953,P58 V 301,7134,301,2017-12-27 19:24:00,"159,986328125",2017-12-27 19:24:30,"25,11328125","22,2119998931885",0,0,0,0,0,0,0,2017-12-27 19:24:15.000
5038,P59 V 301,7134,301,2017-12-27 19:25:00,"17,93359375",2017-12-27 19:25:09,"0,166015625","7,23999977111816",0,0,0,0,0,0,0,2017-12-27 19:25:04.500
5123,P60 V 301,7134,301,2017-12-27 19:25:56,"85,755859375",2017-12-27 19:26:21,"77,65234375","23,5310401916504",0,0,0,0,0,0,0,2017-12-27 19:26:08.500
5207,P61 V 301,7134,301,2017-12-27 19:26:21,"217,955078125",2017-12-27 19:27:16,"90,9453125","20,2189083099365",0,0,0,0,0,0,0,2017-12-27 19:26:48.500
5291,P62 V 301,7134,301,2017-12-27 19:27:21,"134,396484375",2017-12-27 19:27:46,"3,552734375","19,8647994995117",0,0,0,0,0,0,0,2017-12-27 19:27:33.500
5375,P63 V 301,7134,301,2017-12-27 19:27:46,"226,978515625",2017-12-27 19:28:16,"14,001953125","28,9176006317139",0,0,0,0,0,0,0,2017-12-27 19:28:01.000
5460,P64 V 301,7134,301,2017-12-27 19:29:20,"93,439453125",2017-12-27 19:29:21,"117,009765625","757,619995117188",0,0,0,0,0,0,0,2017-12-27 19:29:20.500
5551,P65 V 301,7134,301,2017-12-27 19:29:28,"16,181640625",2017-12-27 19:29:33,"29,408203125","32,8247985839844",0,0,0,0,0,0,0,2017-12-27 19:29:30.500
5644,P66 V 301,7134,301,2017-12-27 19:29:33,"339,29296875",2017-12-27 19:30:28,"32,537109375","24,337963104248",0,0,0,0,0,0,0,2017-12-27 19:30:00.500
5740,P67 V 301,7134,301,2017-12-27 19:31:13,"160,158203125",2017-12-27 19:32:08,"185,091796875","22,5981826782227",0,0,0,0,0,0,0,2017-12-27 19:31:40.500
5825,P68 V 301,7134,301,2017-12-27 19:32:38,"70,6640625",2017-12-27 19:33:08,"165,39453125","28,3271999359131",0,0,0,0,0,0,0,2017-12-27 19:32:53.000
43,P01 I 301,7134,301,2017-12-27 19:36:33,"0,713618278503418",2017-12-27 19:36:45,"30,9463801383972","9,4980001449585",0,0,0,0,0,0,0,2017-12-27 19:36:39.000
120,P03 I 301,7134,301,2017-12-27 19:36:58,"250,876564025879",2017-12-27 19:37:40,"103,163452148438","30,346284866333",0,0,0,0,0,0,0,2017-12-27 19:37:19.000
204,P04 I 301,7134,301,2017-12-27 19:38:59,"221,824554443359",2017-12-27 19:39:54,"267,755432128906","32,0452346801758",0,0,0,0,0,0,0,2017-12-27 19:39:26.500
294,P05 I 301,7134,301,2017-12-27 19:41:47,"17,3299560546875",2017-12-27 19:42:17,"35,9700317382813","6,39599990844727",0,0,0,0,0,0,0,2017-12-27 19:42:02.000

In [117]:
cartoes_new

,Empresa,Linha,Carro,Cartao,DataHoraAcesso,TipoAcesso,TipoCartao,Tipo,Parada,DataHoraAntesParada,DataHoraDepoisParada,DataHoraMedianaParada
0,TRANSNACIONAL,301,7134,NaN,2017-12-27 04:20:30,DEB,Pagante,Pagante-DEB,P03 I 301,2017-12-27 04:19:54,2017-12-27 04:20:49,2017-12-27 04:20:21.500
1,TRANSNACIONAL,301,7134,2.008555e+09,2017-12-27 04:21:34,DEB,Comum,Comum-DEB,P04 I 301,2017-12-27 04:21:19,2017-12-27 04:21:49,2017-12-27 04:21:34.000
2,TRANSNACIONAL,301,7134,4.019573e+09,2017-12-27 04:22:44,DEB,Comum,Comum-DEB,P06 I 301,2017-12-27 04:22:19,2017-12-27 04:22:49,2017-12-27 04:22:34.000
3,TRANSNACIONAL,301,7134,3.389447e+09,2017-12-27 04:23:54,DEB,Funcionário,Funcionário-DEB,P08 I 301,2017-12-27 04:23:19,2017-12-27 04:23:50,2017-12-27 04:23:34.500
4,TRANSNACIONAL,301,7134,3.573404e+09,2017-12-27 04:24:38,DEB,Gratuito,Gratuito-DEB,P10 I 301,2017-12-27 04:24:20,2017-12-27 04:24:50,2017-12-27 04:24:35.000
5,TRANSNACIONAL,301,7134,NaN,2017-12-27 04:25:04,DEB,Pagante,Pagante-DEB,P10 I 301,2017-12-27 04:24:20,2017-12-27 04:24:50,2017-12-27 04:24:35.000
6,TRANSNACIONAL,301,7134,NaN,2017-12-27 04:26:24,DEB,Pagante,Pagante-DEB,P13 I 301,2017-12-27 04:25:50,2017-12-27 04:26:20,2017-12-27 04:26:05.000
7,TRANSNACIONAL,301,7134,6.663393e+08,2017-12-27 04:48:48,DEB,Estudante,Estudante-DEB,P46 V 301,2017-12-27 04:48:31,2017-12-27 04:49:01,2017-12-27 04:48:46.000
8,TRANSNACIONAL,301,7134,1.569396e+09,2017-12-27 05:22:48,DEB,Comum,Comum-DEB,P67 V 301,2017-12-27 05:00:03,2017-12-27 05:00:58,2017-12-27 05:00:30.500
9,TRANSNACIONAL,301,7134,1.514738e+09,2017-12-27 05:22:52,DEB,Comum,Comum-DEB,P67 V 301,2017-12-27 05:00:03,2017-12-27 05:00:58,2017-12-27 05:00:30.500
10,TRANSNACIONAL,301,7134,NaN,2017-12-27 05:22:56,DEB,Pagante,Pagante-DEB,P67 V 301,2017-12-27 05:00:03,2017-12-27 05:00:58,2017-12-27 05:00:30.500
11,TRANSNACIONAL,301,7134,3.660774e+09,2017-12-27 05:23:00,DEB,Comum,Comum-DEB,P67 V 301,2017-12-27 05:00:03,2017-12-27 05:00:58,2017-12-27 05:00:30.500
12,TRANSNACIONAL,301,7134,2.259158e+09,2017-12-27 05:23:04,DEB,Comum,Comum-DEB,P01 I 301,2017-12-27 05:22:46,2017-12-27 05:23:16,2017-12-27 05:23:01.000
13,TRANSNACIONAL,301,7134,4.063792e+09,2017-12-27 05:23:06,DEB,Comum,Comum-DEB,P01 I 301,2017-12-27 05:22:46,2017-12-27 05:23:16,2017-12-27 05:23:01.000
14,TRANSNACIONAL,301,7134,2.300516e+09,2017-12-27 05:23:12,DEB,Comum,Comum-DEB,P01 I 301,2017-12-27 05:22:46,2017-12-27 05:23:16,2017-12-27 05:23:01.000
15,TRANSNACIONAL,301,7134,3.661017e+09,2017-12-27 05:23:18,INT,Comum,Comum-INT,P01 I 301,2017-12-27 05:22:46,2017-12-27 05:23:16,2017-12-27 05:23:01.000
16,TRANSNACIONAL,301,7134,NaN,2017-12-27 05:23:30,DEB,Pagante,Pagante-DEB,P01 I 301,2017-12-27 05:22:46,2017-12-27 05:23:16,2017-12-27 05:23:01.000
17,TRANSNACIONAL,301,7134,8.248551e+08,2017-12-27 05:23:36,DEB,Comum,Comum-DEB,P01 I 301,2017-12-27 05:22:46,2017-12-27 05:23:16,2017-12-27 05:23:01.000
18,TRANSNACIONAL,301,7134,6.096470e+08,2017-12-27 05:23:42,DEB,Comum,Comum-DEB,P01 I 301,2017-12-27 05:22:46,2017-12-27 05:23:16,2017-12-27 05:23:01.000
19,TRANSNACIONAL,301,7134,2.324159e+08,2017-12-27 05:24:06,DEB,Comum,Comum-DEB,P03 I 301,2017-12-27 05:23:25,2017-12-27 05:24:20,2017-12-27 05:23:52.500
20,TRANSNACIONAL,301,7134,1.627871e+09,2017-12-27 05:24:12,DEB,Comum,Comum-DEB,P03 I 301,2017-12-27 05:23:25,2017-12-27 05:24:20,2017-12-27 05:23:52.500
21,TRANSNACIONAL,301,7134,1.241116e+09,2017-12-27 05:24:16,DEB,Comum,Comum-DEB,P03 I 301,2017-12-27 05:23:25,2017-12-27 05:24:20,2017-12-27 05:23:52.500
22,TRANSNACIONAL,301,7134,NaN,2017-12-27 05:24:32,DEB,Pagante,Pagante-DEB,P03 I 301,2017-12-27 05:23:25,2017-12-27 05:24:20,2017-12-27 05:23:52.500
23,TRANSNACIONAL,301,7134,1.536237e+09,2017-12-27 05:26:08,DEB,Comum,Comum-DEB,P05 I 301,2017-12-27 05:25:20,2017-12-27 05:25:50,2017-12-27 05:25:35.000
24,TRANSNACIONAL,301,7134,3.162294e+09,2017-12-27 05:26:40,DEB,Estudante,Estudante-DEB,P06 I 301,2017-12-27 05:26:21,2017-12-27 05:26:29,2017-12-27 05:26:25.000
25,TRANSNACIONAL,301,7134,3.665187e+09,2017-12-27 05:27:22,DEB,Comum,Comum-DEB,P07 I 301,2017-12-27 05:27:07,2017-12-27 05:27:31,2017-12-27 05:27:19.000
26,TRANSNACIONAL,301,7134,NaN,2017-12-27 05:27:28,DEB,Pagante,Pagante-DEB,P07 I 301,2017-12-27 05:27:07,2017-12-27 05:27:31,2017-12-27 05:27:19.000
27,TRANSNACIONAL,301,7134,NaN,2017-12-27 05:27:34,DEB,Pagante,Pagante-DEB,P07 I 301,2017-12-27 05:27:07,2017-12-27 05:27:31,2017-12-27 05:27:19.000
28,TRANSNACIONAL,301,7134,2.742754e+09,2017-12-27 05:27:42,DEB,Estudante,Estudante-DEB,P07 I 301,2017-12-27 05:27:07,2017-12-27 05:27:31,2017-12-27 05:27:19.000
29,TRANSNACIONAL,301,7134,1.316161e+09,2017-12-27 05:27:50,DEB,Comum,Comum-DEB,P07 I 301,2017-12-27 05:27:07,2017-12-27 05:27:31,2017-12-27 05:27:19.000
...,...,...,...,...,...,...,...,...,...,...,...,...
341,TRANSNACIONAL,301,7175,6.600120e+08,2017-12-27 18:43:50,DEB,Estudante,Estudante-DEB,P33 I 301,2017-12-27 18:40:01,2017-12-27 18:40:08,2017-12-27 18:40:04.500
342,TRANSNACIONAL,301,7175,NaN,2017-12-27 18:43:56,DEB,Pagante,Pagante-DEB,P33 I 301,2017-12-27 18:40:01,2017-12-27 18:40:08,2017-12-27 18:40:04.500
343,TRANSNACIONAL,301,7175,1.241096e+09,2017-12-27 18:46:38,DEB,Comum,Comum-DEB,P33 I 301,2017-12-27 18:40:01,2017-12-27 18:40:08,2017-12-27 18:40:04.500
344,TRANSNACIONAL,301,7175,3.661053e+09,2017-12-27 18:46:42,DEB,Comum,Comum-DEB,P33 I 301,2017-12-27 18:40:01,2017-12-27 18:40:08,2017-12-27 18:40:04.500
345,TRANSNACIONAL,301,7175,1.204108e+09,2017-12-27 18:47:28,DEB,Comum,Comum-DEB,P33 I 301,2017-12-27 18:40:01,2017-12-27 18:40:08,2017-12-27 18:40:04.500
346,TRANSNACIONAL,301,7175,1.203825e+09,2017-12-27 18:48:18,DEB,Estudante,Estudante-DEB,P33 I 301,2017-12-27 18:40:01,2017-12-27 18:40:08,2017-12-27 18:40:04.500
347,TRANSNACIONAL,301,7175,1.330307e+09,2017-12-27 18:48:48,DEB,Estudante,Estudante-DEB,P34 I 301,2017-12-27 18:48:13,2017-12-27 18:48:35,2017-12-27 18:48:24.000
348,TRANSNACIONAL,301,7175,6.822556e+08,2017-12-27 18:48:54,DEB,Comum,Comum-DEB,P34 I 301,2017-12-27 18:48:13,2017-12-27 18:48:35,2017-12-27 18:48:24.000
349,TRANSNACIONAL,301,7175,6.847327e+08,2017-12-27 18:49:00,DEB,Comum,Comum-DEB,P34 I 301,2017-12-27 18:48:13,2017-12-27 18:48:35,2017-12-27 18:48:24.000
350,TRANSNACIONAL,301,7175,NaN,2017-12-27 19:01:42,DEB,Pagante,Pagante-DEB,P39 V 301,2017-12-27 19:01:07,2017-12-27 19:01:55,2017-12-27 19:01:31.000
351,TRANSNACIONAL,301,7175,NaN,2017-12-27 19:01:52,DEB,Pagante,Pagante-DEB,P39 V 301,2017-12-27 19:01:07,2017-12-27 19:01:55,2017-12-27 19:01:31.000
352,TRANSNACIONAL,301,7175,2.058389e+09,2017-12-27 19:03:30,DEB,Comum,Comum-DEB,P40 V 301,2017-12-27 19:02:34,2017-12-27 19:03:29,2017-12-27 19:03:01.500
353,TRANSNACIONAL,301,7175,3.029998e+09,2017-12-27 19:03:38,DEB,Comum,Comum-DEB,P40 V 301,2017-12-27 19:02:34,2017-12-27 19:03:29,2017-12-27 19:03:01.500
354,TRANSNACIONAL,301,7175,1.394165e+09,2017-12-27 19:03:50,DEB,Comum,Comum-DEB,P40 V 301,2017-12-27 19:02:34,2017-12-27 19:03:29,2017-12-27 19:03:01.500
355,TRANSNACIONAL,301,7175,NaN,2017-12-27 19:03:54,DEB,Pagante,Pagante-DEB,P40 V 301,2017-12-27 19:02:34,2017-12-27 19:03:29,2017-12-27 19:03:01.500
356,TRANSNACIONAL,301,7175,NaN,2017-12-27 19:05:22,DEB,Pagante,Pagante-DEB,P41 V 301,2017-12-27 19:03:42,2017-12-27 19:04:37,2017-12-27 19:04:09.500
357,TRANSNACIONAL,301,7175,2.327971e+08,2017-12-27 19:05:38,DEB,Comum,Comum-DEB,P42 V 301,2017-12-27 19:05:09,2017-12-27 19:06:04,2017-12-27 19:05:36.500
358,TRANSNACIONAL,301,7175,3.591612e+08,2017-12-27 19:09:56,INT,Estudante,Estudante-INT,P47 V 301,2017-12-27 19:09:05,2017-12-27 19:09:35,2017-12-27 19:09:20.000
359,TRANSNACIONAL,301,7175,2.260099e+09,2017-12-27 19:10:02,INT,Comum,Comum-INT,P47 V 301,2017-12-27 19:09:05,2017-12-27 19:09:35,2017-12-27 19:09:20.000
360,TRANSNACIONAL,301,7175,NaN,2017-12-27 19:10:32,DEB,Pagante,Pagante-DEB,P47 V 301,2017-12-27 19:09:05,2017-12-27 19:09:35,2017-12-27 19:09:20.000
361,TRANSNACIONAL,301,7175,2.351834e+09,2017-12-27 19:10:40,DEB,Gratuito,Gratuito-DEB,P47 V 301,2017-12-27 19:09:05,2017-12-27 19:09:35,2017-12-27 19:09:20.000
362,TRANSNACIONAL,301,7175,2.053057e+09,2017-12-27 19:10:54,DEB,Comum,Comum-DEB,P47 V 301,2017-12-27 19:09:05,2017-12-27 19:09:35,2017-12-27 19:09:20.000
363,TRANSNACIONAL,301,7175,2.463275e+09,2017-12-27 19:11:22,DEB,Comum,Comum-DEB,P49 V 301,2017-12-27 19:10:43,2017-12-27 19:11:20,2017-12-27 19:11:01.500
364,TRANSNACIONAL,301,7175,6.664146e+08,2017-12-27 19:11:26,DEB,Comum,Comum-DEB,P49 V 301,2017-12-27 19:10:43,2017-12-27 19:11:20,2017-12-27 19:11:01.500
365,TRANSNACIONAL,301,7175,NaN,2017-12-27 19:11:40,DEB,Pagante,Pagante-DEB,P49 V 301,2017-12-27 19:10:43,2017-12-27 19:11:20,2017-12-27 19:11:01.500
366,TRANSNACIONAL,301,7175,6.285495e+08,2017-12-27 19:13:14,DEB,Comum,Comum-DEB,P50 V 301,2017-12-27 19:11:20,2017-12-27 19:12:15,2017-12-27 19:11:47.500
367,TRANSNACIONAL,301,7175,1.670763e+09,2017-12-27 19:13:22,DEB,Estudante,Estudante-DEB,P50 V 301,2017-12-27 19:11:20,2017-12-27 19:12:15,2017-12-27 19:11:47.500
368,TRANSNACIONAL,301,7175,5.925808e+08,2017-12-27 19:13:38,DEB,Estudante,Estudante-DEB,P51 V 301,2017-12-27 19:13:15,2017-12-27 19:13:32,2017-12-27 19:13:23.500
369,TRANSNACIONAL,301,7175,2.461024e+09,2017-12-27 19:14:30,DEB,Comum,Comum-DEB,P51 V 301,2017-12-27 19:13:15,2017-12-27 19:13:32,2017-12-27 19:13:23.500
370,TRANSNACIONAL,301,7175,NaN,2017-12-27 19:17:16,DEB,Pagante,Pagante-DEB,P53 V 301,2017-12-27 19:15:39,2017-12-27 19:16:14,2017-12-27 19:15:56.500

In [26]:
passagens.Parada.value_counts()

P67 V 301     96
P66 V 301     93
P65 V 301     91
P04 I 301     88
P05 I 301     87
P30 I 301     86
P39 V 301     86
P42 V 301     86
P23 I 301     86
P26 I 301     86
P41 V 301     86
P36 I 301     86
P51 V 301     86
P54 V 301     86
P52 V 301     86
P53 V 301     86
P20 I 301     86
P16 I 301     86
P22 I 301     86
P19 I 301     86
P38 V 301     86
P56 V 301     86
P31 I 301     86
P37 I 301     86
P40 V 301     86
P34 I 301     86
P55 V 301     86
P32 I 301     86
P33 I 301     86
P21 I 301     86
              ..
P24 I 301     85
P58 V 301     85
P68 V 301     85
P17 I 301     85
P30 I 301*    85
P25 I 301     85
P11 I 301     84
P07 I 301     84
P12 I 301     84
P36 I 301*    84
P10 I 301     84
P50 V 301     84
P13 I 301     84
P09 I 301     84
P63 V 301     84
P08 I 301     84
P61 V 301     84
P03 I 301     84
P47 V 301     84
P14 I 301     84
P62 V 301     84
P49 V 301     83
P35 I 301     83
P46 V 301     83
P45 V 301     82
P48 V 301     82
P06 I 301     82
P43 V 301     79
P44 V 301     79
P01 I 301     48
Name: Parada, Length: 69, dtype: int64

In [20]:
passagens.Parada.unique()

array(['P01 I 301', 'P03 I 301', 'P04 I 301', 'P05 I 301', 'P06 I 301',
       'P07 I 301', 'P08 I 301', 'P09 I 301', 'P10 I 301', 'P11 I 301',
       'P12 I 301', 'P13 I 301', 'P14 I 301', 'P15 I 301', 'P16 I 301',
       'P17 I 301', 'P18 I 301', 'P19 I 301', 'P20 I 301', 'P21 I 301',
       'P22 I 301', 'P23 I 301', 'P24 I 301', 'P25 I 301', 'P26 I 301',
       'P27 I 301', 'P28 I 301', 'P29 I 301', 'P30 I 301', 'P30 I 301*',
       'P31 I 301', 'P32 I 301', 'P33 I 301', 'P34 I 301', 'P35 I 301',
       'P36 I 301', 'P36 I 301*', 'P37 I 301', 'P38 V 301', 'P39 V 301',
       'P40 V 301', 'P41 V 301', 'P42 V 301', 'P43 V 301', 'P44 V 301',
       'P45 V 301', 'P46 V 301', 'P47 V 301', 'P48 V 301', 'P49 V 301',
       'P50 V 301', 'P51 V 301', 'P52 V 301', 'P53 V 301', 'P54 V 301',
       'P55 V 301', 'P56 V 301', 'P57 V 301', 'P58 V 301', 'P59 V 301',
       'P60 V 301', 'P61 V 301', 'P62 V 301', 'P63 V 301', 'P64 V 301',
       'P65 V 301', 'P66 V 301', 'P67 V 301', 'P68 V 301'], dtype=object)